@font-face {
  font-family: "hira";
  font-style: "";
  font-weight: "";
  src: url("../fonts/hirakakupro-w6-opentype_bigfontsite.com.otf") format("opentype");
}

@font-face {
  font-family: "UDDigiKyokashoN-B";
  font-style: "";
  font-weight: "";
  src: url("../fonts/UDDigiKyokashoN-B.ttc") format("ttc");
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

body.bg-gray {
  background: #F4F4F4;
}

.container {
  max-width: 1030px;
}

.container-fluid {
  max-width: 1330px;
}

a {
  transition: color 0.3s ease;
  text-decoration: none !important;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: -0.06em;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
}

h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: -0.06em;
}

h3 {
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.06em;
}

.text-gray {
  color: rgba(0, 0, 0, 0.6);
}

.text-blue {
  color: #114FF5;
}

.bg-blue2 {
  background: #2864F1;
}

.font-20 {
  font-size: 20px;
  line-height: 28px;
}

.btn-white {
  padding: 13px 20px;
  color: #2864F1;
  background: #fff;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.btn img {
  margin-right: 5px;
}

.tag-title {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.35);
  margin-bottom: 10px;
}

.small-tag {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background: #F4F4F4;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  font-family: 'Work Sans', sans-serif;
  transition: all 0.3s ease;
}

.contact-links {
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.06em;
  color: #000;
}

.contact-links a {
  color: #000;
  margin-left: 24px;
  transition: all 0.3s ease;
}

.contact-links a i {
  font-size: 25px;
}

.contact-links a:hover {
  color: #114FF5;
}

/*** select 2 div styles ****/
.select2-container {
  width: 100% !important;
}

.select2-container--open .select2-dropdown--below {
  background: #FFFFFF;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
  border-radius: 12px;
  margin-top: 5px;
  padding: 24px 16px;
}

.select2-container--default .select2-selection--multiple {
  border-radius: 12px;
  min-height: 40px;
  background: #fff;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  padding: 6px 16px 0 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: none !important;
  outline: none !important;
  transition: all 0.3s ease;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #114FF5;
  border-radius: 12px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background: #F4F4F4;
  border-radius: 24px;
  border-color: #f4f4f4;
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  color: #000;
  margin-right: 5px;
  position: relative;
  padding: 5.5px 10px;
  overflow: initial;
  margin-bottom: 6px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  position: absolute;
  right: -4px;
  border: 0;
  left: auto;
  background: #114FF5;
  color: #fff;
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -4px;
  z-index: 99;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  cursor: default;
  padding-left: 0;
  padding-right: 0;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding: 7.5px 10px;
  margin-bottom: 5px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select2-results__option--selected {
  background-color: rgba(17, 79, 245, 0.06);
  border-radius: 8px;
  color: #114FF5;
}

.select2-results__option.select2-results__option--group::before {
  display: none !important;
}

.select2-results__option.select2-results__option--group .select2-results__group {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.43);
  margin-bottom: 20px;
}

/*** nicescroll style ***/
.nicescroll-rails {
  margin-left: 14px;
  border-radius: 10px;
}

/*** header style ****/
.navbar-brand {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  color: #000;
}

.bg-light {
  background-color: #fff !important;
  padding: 11px 0;
}

.bg-light .container {
  width: 100%;
  max-width: 1390px;
}

.bg-light .navbar-nav .nav-link {
  padding: 0 30px;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  transition: all 0.3s ease;
}

.bg-light .navbar-nav .nav-link::before {
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  bottom: -6px;
  position: absolute;
  background: transparent;
  transition: all 0.3s ease;
}

.bg-light .navbar-nav .nav-link:hover {
  color: #114FF5;
}

.bg-light .navbar-nav .nav-link:hover::before {
  background: #114FF5;
}

.bg-light .navbar-nav .nav-link.join-btn {
  background: #114FF5;
  color: #fff;
  padding: 11px 20px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: 3px solid transparent;
}

.bg-light .navbar-nav .nav-link.join-btn::before {
  display: none;
}

.bg-light .navbar-nav .nav-link.join-btn:hover {
  background: transparent;
  border-color: #114FF5;
  color: #114FF5;
}

.bg-light .navbar-nav .nav-item.active .nav-link {
  color: #000;
}

/***** investors page styles****/
.home-body {
  /* .select2-hidden-accessible {
        position: fixed !important;
    } */
}

.home-body .select2-container--default .select2-selection--multiple {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 42px !important;
  box-shadow: none !important;
  outline: none !important;
  transition: all 0.3s ease;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  min-height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../images/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 12px 6px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-top: 0;
}

.home-body .select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 5px;
  margin-bottom: 0;
}

.home-body .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.home-body .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 42px !important;
}

.home-body .select2-results__option:before {
  content: "";
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  border: 2px solid #e9e9e9;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 7px;
  vertical-align: middle;
  margin-top: -2px;
}

.home-body .select2-results__option[aria-selected=true]:before {
  background: #114FF5 url("../images/checked.svg") no-repeat center;
  content: "";
  color: #fff;
  border: 0;
  display: inline-block;
  padding-left: 3px;
}

.home-body .select2-container .select2-selection--multiple .select2-selection__rendered {
  display: none !important;
}

.home-body .select2-container--default .select2-search--inline .select2-search__field {
  margin-top: 0;
}

.investors {
  padding-top: 55px;
  padding-bottom: 209px;
}

.investors-search {
  max-width: 762px;
  margin: 24px auto 90px auto;
}

.investors-search .col-12 {
  margin-bottom: 25px;
}

.investors-search .col-6 {
  margin-bottom: 17px;
}

.investors-search .form-control {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 42px;
  box-shadow: none !important;
  outline: none !important;
  transition: all 0.3s ease;
  margin-bottom: 0px;
}

.investors-search .form-control.search-input {
  font-size: 18px;
  line-height: 21px;
  background: url("../images/search.svg") no-repeat;
  padding-left: 54px;
  background-position: left 23px center;
  background-size: 16px;
  height: 70px;
  max-width: 762px;
  margin-right: auto;
  margin-left: auto;
}

.investors-search .form-control.search-input::placeholder {
  color: rgba(0, 0, 0, 0.42);
}

.investors-search .form-control.search-input:focus {
  border-color: #114FF5;
}

.investors-search .form-control.form-select {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../images/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 12px 6px;
}

.investors-search .clear-filter {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.investors-search .clear-filter img {
  margin-right: 6px;
}

.investors-search .tags-area {
  width: calc(100% - 119px);
}

.investors-search .tags-area .tag {
  display: inline-block;
  margin: 0 10px 10px 0;
  background: #F4F4F4;
  text-decoration: none;
  border-radius: 30px;
  padding: 5px 8px;
  font-size: 14px;
  color: #000;
}

.investors-search .tags-area .tag .value {
  padding-right: 15px;
}

.investors-search .tags-area .tag:after {
  content: '+';
  display: inline-block;
  transform: rotate(45deg);
  margin-left: 0px;
}

.investors-search .tags-area .tag:hover {
  background: #114FF5;
  color: #fff;
}

.investors-list .result-num {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 33px;
}

.investors-list .result-num strong {
  font-weight: 500;
  color: #000;
}

.investors-list .investor {
  width: 100%;
  max-width: 762px;
  padding: 24px 24px 0 24px;
  margin: 0 auto 24px auto;
  border: 1px solid #D4D4D4;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.investors-list .investor .list-head {
  margin-bottom: 26px;
}

.investors-list .investor .list-head .investor-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.investors-list .investor .list-head h3 {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  letter-spacing: 0;
}

.investors-list .investor .list-head p {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .investors-list .investor .col-md-auto {
    padding-left: 70px;
  }
}

.investors-list .investor .list-body {
  padding-left: 65px;
}

.investors-list .investor .list-body .col-12 {
  margin-bottom: 32px;
}

.investors-list .investor .list-body .small-tag {
  margin-bottom: 5px;
}

.investors-list .investor .list-body .more-logos {
  font-size: 12px;
  line-height: 14px;
  color: #000;
  font-family: 'Work Sans', sans-serif;
  margin-left: 8px;
}

.investors-list .investor .btn-outline-secondary {
  border: 2px solid #000;
  background: #f9f9f9;
  filter: drop-shadow(0px 6px 16px rgba(0, 69, 255, 0.1));
  border-radius: 30px;
  padding: 9.5px 25px 8px 18px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.investors-list .investor .btn-outline-secondary img {
  margin-left: 12px;
  width: 10px;
}

.investors-list .investor .btn-outline-secondary:hover {
  background: transparent;
}

.investors-list .investor:hover {
  background: #F9F9F9;
  border-color: #F9F9F9;
  border: 1px solid #000000;
}

.investors-list .investor:hover .list-body .small-tag {
  background: #fff;
  border-color: #DDDDDD;
}

.investors-list .investor:hover .btn-outline-secondary {
  opacity: 1;
  visibility: visible;
}

/**** form steps style ***/
.step,
#success,
#preloader-wrapper {
  display: none;
}

.form-group {
  position: relative;
}

.form-field .form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.42);
  margin-bottom: 10px;
}

.form-field .form-control {
  border-radius: 12px;
  height: 40px;
  background: #fff;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: none !important;
  outline: none !important;
  transition: all 0.3s ease;
}

.form-field .form-control::placeholder {
  color: rgba(0, 0, 0, 0.47);
}

.form-field .form-control.form-select {
  background-image: url("../images/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px 9px;
}

.form-field .form-control:focus {
  border-color: #114FF5 !important;
}

.form-field textarea.form-control {
  height: 98px;
  padding: 10px 16px;
}

.form-field .mb-3 {
  position: relative;
}

.form-field .form-icon {
  position: absolute;
  right: 13px;
  margin-top: -27px;
}

.form-field .form-check {
  padding-left: 30px;
}

.form-field .form-check .form-check-input {
  width: 20px;
  height: 20px;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.14);
  margin-left: -30px;
}

.form-field .form-check .form-check-input:checked {
  background: #114FF5;
  border-color: transparent;
}

.form-field .form-check .form-check-input:checked[type=radio] {
  background-image: url("../images/checked.svg");
  background-position: left 4px center;
  background-repeat: no-repeat;
}

.form-field .upload-img {
  width: 80px;
  height: 80px;
  background: #FFFFFF;
  border: 1px dashed rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto 10px auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-field .upload-img input {
  position: absolute;
  opacity: 0;
  height: 100%;
}

.form-field .upload-img .add-img {
  width: 27px;
  height: 27px;
  left: 707px;
  top: 346px;
  background: #114FF5;
  box-shadow: 0px 6px 16px rgba(0, 69, 255, 0.18);
  border-radius: 30px;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.investor-form {
  padding-bottom: 30px;
}

.investor-form .container {
  max-width: 557px;
  position: relative;
}

.investor-form .header-block {
  max-width: 1320px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
  margin-top: 24px;
}

@media (min-width: 576px) {
  .investor-form .header-block {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.investor-form .header-block .close-form {
  border: 0;
  background: transparent;
}

.investor-form h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.06em;
  max-width: 419px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .investor-form h2 {
    margin-top: -38px;
  }
}

.investor-form h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #878787;
}

.investor-form form {
  position: relative;
}

.investor-form .form-field {
  margin-top: 0;
  background: #F8F8F8;
  border-radius: 20px;
  height: 100vh;
  max-height: calc(100vh - 230px);
  padding: 36px 75px 150px 75px;
}

.investor-form .form-field .form-control.no-border {
  border-color: transparent;
}

.investor-form .form-field .form-select {
  border-color: rgba(0, 0, 0, 0.12);
}

.investor-form .progress {
  width: calc( 100% - 30px);
  max-width: 280px;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(17, 79, 245, 0.1);
  margin: 36px auto;
}

.investor-form .progress .bg-primary {
  background: #114FF5;
  border-radius: 10px;
}

.investor-form #q-box__buttons {
  position: absolute;
  bottom: 48px;
  width: 100%;
  text-align: center;
}

.investor-form #q-box__buttons button {
  width: 100%;
  max-width: 374px;
  outline: none !important;
  box-shadow: none !important;
}

.investor-form #q-box__buttons .btn-primary {
  height: 50px;
  display: flex;
  border-radius: 30px;
  background: #114FF5;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  justify-content: center;
  align-items: center;
}

.investor-form #q-box__buttons .btn-primary.disabled {
  background: rgba(0, 0, 0, 0.26);
  border-color: rgba(0, 0, 0, 0.26);
  opacity: 1;
}

.investor-form #q-box__buttons .btn-prev {
  border: 0 !important;
  background: transparent !important;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  color: rgba(0, 0, 0, 0.47);
  margin-top: 17px;
}

.investor-form .company-block {
  min-height: 330px;
  flex-flow: wrap;
}

.investor-form .company {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 18px 35px 16px 35px;
  margin-bottom: 24px;
}

.investor-form .company .company-logo {
  width: 105px;
}

.investor-form .company .company-info {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.35);
  margin-bottom: 10px;
}

.investor-form .company .company-info span {
  color: #000;
}

.investor-form .company .company-info img {
  margin-right: 10px;
}

.investor-form .no-company {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.investor-form .no-company img {
  display: block;
  margin: 0 auto 11px auto;
}

.investor-form .add-company {
  height: 74px;
  background: #FFFFFF;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.investor-form .comany-step .form-field {
  padding: 36px 30px 150px 30px;
}

.investor-form .comany-step .form-label {
  max-width: 227px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.investor-form #success.d-block {
  height: calc(100vh - 200px);
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.investor-form #success h4 {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.06em;
  margin-bottom: 15px;
  color: #000;
}

.investor-form #success p {
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 36px;
}

.investor-form #success .btn-primary {
  width: 100%;
  max-width: 251px;
  margin: 0 auto;
  height: 50px;
  left: 594px;
  top: 546px;
  background: #114FF5;
  border-radius: 37px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.investor-form #success .mail-block {
  margin-bottom: 45px;
}

.modal1 .modal-dialog {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.modal1 .modal-dialog .modal-content {
  border: 0;
  border-radius: 0;
  padding: 0;
}

.modal1 .modal-dialog .modal-body {
  padding: 0;
}

/* PRELOADER */
.loaded .close-form,
.loaded .investor-form .progress {
  display: none;
}

#preloader-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

#preloader {
  background-image: url("../images/8.gif");
  width: 120px;
  height: 119px;
  border-top-color: #fff;
  border-radius: 100%;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
  /*-webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;*/
  z-index: 1001;
  background-size: cover;
  background-position: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#preloader-wrapper .preloader-section {
  width: 51%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #F7F9FF;
  z-index: 1000;
}

#preloader-wrapper .preloader-section.section-left {
  left: 0;
}

#preloader-wrapper .preloader-section.section-right {
  right: 0;
}

.loaded #preloader-wrapper .preloader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #preloader-wrapper .preloader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #preloader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #preloader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}

#add-company .modal-dialog {
  max-width: 660px;
}

#add-company .modal-dialog .modal-content {
  background: #FFFFFF;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
  border-radius: 20px;
  padding-top: 34px;
  padding-bottom: 74px;
}

#add-company .modal-dialog .modal-content .btn-close {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 24px;
  top: -10px;
  background-color: #F4F4F4;
  border-radius: 50%;
  opacity: 1;
}

#add-company .modal-dialog .modal-content .add-company {
  max-width: 374px;
  margin: 0 auto;
}

#add-company .modal-dialog .modal-content .add-company h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 47px;
}

#add-company .modal-dialog .modal-content .add-company .file-attach {
  padding: 22px 20px 22px 55px;
  background: #F4F4F4;
  border: 1px dashed #000000;
  box-sizing: border-box;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  position: relative;
}

#add-company .modal-dialog .modal-content .add-company .file-attach span {
  width: calc(100% - 25px);
  text-align: center;
  display: inline-block;
}

#add-company .modal-dialog .modal-content .add-company .file-attach .form-control {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

#add-company .modal-dialog .modal-content .add-company .img-size {
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.42);
}

#add-company .modal-dialog .modal-content .add-company .btn {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #114FF5;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
}

/**** investors page styles ****/
.investors-hero {
  margin-bottom: 40px;
  padding-right: 15px;
  padding-left: 15px;
}

.investors-hero .container-fluid {
  border-radius: 20px;
}

.investors-hero .hero-inner {
  padding: 90px 0;
  max-width: 575px;
  margin: 0 auto;
}

.investors-hero .hero-inner h2 {
  margin-bottom: 24px;
  text-align: center;
}

.investors-hero .hero-inner p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 24px;
}

.investors-hero .hero-inner .btn {
  padding: 14.5px 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  border-radius: 30px;
}

.investors-hero .hero-inner .btn img {
  margin-right: 10px;
}

.investors-hero .hero-inner .btn.btn-primary {
  background: #114FF5;
  color: #fff;
}

.investors-hero .hero-inner .btn.btn-white {
  color: #114FF5;
  background: #fff;
}

.investors-hero .bg-blue2 .hero-inner p {
  color: rgba(255, 255, 255, 0.6);
}

/**** join-features styles ****/
.join-features {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  z-index: 3;
}

.join-features .container-fluid {
  border-radius: 19px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.join-features .col-md-auto {
  max-width: 601px;
}

.join-features .inner-container {
  max-width: 1030px;
  margin: 0 auto;
}

.join-features .inner-container h2 {
  margin-bottom: 16px;
}

.join-features .inner-container p {
  font-size: 20px;
  line-height: 130.3%;
  color: rgba(0, 0, 0, 0.6);
}

.join-features .inner-container .row {
  margin: 45px -10px 0 -10px;
}

.join-features .inner-container .row .col-12 {
  padding-left: 10px;
  padding-right: 10px;
}

.join-features .inner-container .feature-box {
  background: #FFFFFF;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
  border-radius: 20px;
  padding: 16px 10px 16px 20px;
}

.join-features .inner-container .feature-box .feature-icon {
  /* width: 50px;
                height: 50px;
                border-radius: 50%;
                background: $blue2;
                display: flex;
                padding: 14px 13px; */
}

.join-features .inner-container .feature-box h4 {
  margin: 12px 0px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.05em;
}

.join-features .inner-container .feature-box p {
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0;
}

.join-features .bg-blue2 .row:first-child {
  margin-top: 0;
}

.join-features .bg-blue2 .inner-container p {
  color: rgba(255, 255, 255, 0.86);
}

.join-features .bg-blue2 .inner-container .feature-box {
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.12);
}

/**** partner-companies styles ****/
.partner-companies {
  margin-bottom: 50px;
}

.partner-companies .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 37px;
}

.partner-companies .row {
  margin-right: -10px;
  margin-left: -10px;
}

.partner-companies .row .col-4 {
  padding-right: 10px;
  padding-left: 10px;
}

.partner-companies .row .col-4 a {
  width: 100%;
  display: block;
}

.partner-companies .row .col-4 a img {
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.partner-companies .row .col-4 a:hover img {
  filter: grayscale(0%);
}

/**** faq styles ****/
.faq {
  padding-top: 52px;
  padding-bottom: 70px;
  border-radius: 0px 0px 100px 100px;
  background: #FBFBFB;
  position: relative;
  z-index: 2;
}

.faq .container {
  max-width: 813px;
}

.faq .row {
  margin-right: -10px;
  margin-left: -10px;
}

.faq .row .col-12 {
  padding-left: 10px;
  padding-right: 10px;
}

.faq h3 {
  margin-bottom: 30px;
}

.faq .faq-box {
  border: 2px solid rgba(0, 0, 0, 0.11);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 24px 15px 21px 24px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.faq .faq-box h4 {
  transition: all 0.3s ease;
}

.faq .faq-box p {
  margin-bottom: 0;
}

.faq .faq-box:hover h4 {
  color: #114FF5;
}

@media (min-width: 576px) {
  .faq .accordion {
    padding-top: 30px;
  }
}

.faq.faq2 {
  padding-top: 200px;
  margin-top: -100px;
}

@media (min-width: 576px) {
  .faq.faq2 .accordion {
    padding-top: 70px;
  }
}

.accordion .accordion-item {
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.11);
  border-radius: 20px;
  margin-bottom: 24px;
}

.accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.accordion .accordion-item .accordion-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.accordion .accordion-item .accordion-header .accordion-button {
  border: 0;
  background: transparent;
  padding: 24px 30px 24px 24px;
  box-shadow: none;
}

.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #114FF5;
}

.accordion .accordion-item .accordion-body {
  padding: 6px 24px 20px 24px;
}

.accordion .accordion-item .accordion-body p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 130.3%;
  /* or 21px */
  color: rgba(0, 0, 0, 0.6);
}

/*** profile page style *****/
.profile {
  /**** investments styles ******/
}

.profile .details-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Work Sans', sans-serif;
}

.profile .details-title span {
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 17px;
}

.profile .back-link a {
  display: flex;
  align-items: center;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.51);
  text-decoration: none;
}

.profile .back-link img {
  margin-right: 14px;
}

.profile .profile-content {
  background: #FFFFFF;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
  border-radius: 20px;
  margin-bottom: 38px;
}

.profile .profile-content .row {
  margin: 0;
}

.profile .profile-content .row .col-md-auto {
  width: 291px;
  padding: 24px 20px;
}

.profile .profile-content .investor-img {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  margin-bottom: 24px;
}

.profile .profile-content .investor-name {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 34px;
}

.profile .profile-content .investor-name span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
  display: block;
}

.profile .profile-content .investor-links {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style: none;
}

.profile .profile-content .investor-links li {
  margin-bottom: 22px;
}

.profile .profile-content .investor-links a {
  font-size: 16px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}

.profile .profile-content .investor-links a i {
  color: #000;
  font-size: 20px;
  width: 25px;
}

.profile .profile-content .investor-links a:hover {
  color: #114FF5;
}

.profile .profile-content .investor-links a:hover i {
  color: #114FF5;
}

.profile .profile-content .col-md {
  border-left: 4px solid #F4F4F4;
  padding: 24px 72px 24px 48px;
}

.profile .profile-content p {
  font-size: 16px;
  line-height: 23px;
  /* or 144% */
  color: rgba(0, 0, 0, 0.4);
}

.profile .investments .details-title {
  margin-bottom: 31px;
}

.profile .investments .block {
  background: #FFFFFF;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
  border-radius: 20px;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  position: relative;
}

.profile .investments .block::before {
  content: "";
  display: block;
  position: absolute;
  left: 180px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #F4F4F4;
}

.profile .investments .block .company-img {
  width: 180px;
  padding: 38px 25px;
  text-align: center;
}

.profile .investments .block .company-link {
  order: 3;
  padding: 0 30px;
}

.profile .investments .block .company-link img {
  margin-right: 10px;
}

.profile .investments .block .company-link a {
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-decoration-line: underline !important;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.47);
}

.profile .investments .block .col {
  padding-left: 35px;
}

.profile .investments .block h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 11px;
}

.profile .investments .block .company-detail {
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.35);
}

.profile .investments .block .company-detail span {
  vertical-align: middle;
  display: inline-block;
}

@media (min-width: 576px) {
  .profile .investments .block .company-detail span:not(.hidden-xs):last-child {
    margin-left: 20px;
  }
}

.profile .investments .block .company-detail img {
  vertical-align: middle;
}

@media (min-width: 576px) {
  .profile .investments .block .company-detail img {
    margin-top: -3px;
  }
}

.profile .investments .block .company-detail strong {
  font-weight: 500;
  color: #000;
  font-size: 14px;
}

/**** footer style ****/
footer {
  font-family: 'Work Sans', sans-serif;
  position: relative;
  z-index: 1;
  background: #114FF5;
  padding-top: 290px;
  padding-bottom: 100px;
  margin-top: -200px;
}

footer .container {
  max-width: 800px;
}

@media (min-width: 992px) {
  footer .col-12:first-child {
    padding-right: 18px;
  }
  footer .col-12:last-child {
    padding-left: 18px;
  }
}

footer .contact-us {
  background: transparent;
  border-radius: 20px;
  padding: 20px 20px 30px 20px;
  border: 1px solid #FFFFFF;
}

footer .contact-us img {
  margin-bottom: 12px;
}

footer .contact-us p {
  font-size: 16px;
  line-height: 130.3%;
  text-align: center;
  letter-spacing: -0.06em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

footer .contact-us h3 {
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.06em;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
}

footer .contact-links {
  margin-top: 83px;
  margin-bottom: 63px;
  color: #fff;
}

footer .contact-links a {
  color: #fff;
}

footer .contact-links a:hover {
  color: rgba(255, 255, 255, 0.77);
}

footer .copyright {
  font-size: 15px;
  line-height: 130.3%;
  text-align: center;
  letter-spacing: -0.06em;
  color: rgba(255, 255, 255, 0.77);
  margin-bottom: 0px;
}

/*** media query styles ****/
@media (max-width: 991.98px) {
  .bg-light .navbar-nav .nav-link {
    padding: 0 20px;
  }
  .investors-hero .hero-inner .btn {
    width: 100%;
    max-width: 320px;
  }
  .join-features .btn {
    font-size: 14px;
  }
  .profile .investments .block {
    justify-content: space-between;
  }
  .profile .investments .block .company-img {
    width: auto;
    padding: 15px 15px;
    text-align: center;
  }
  .profile .investments .block::before {
    display: none;
  }
  .profile .investments .block .company-link {
    order: initial;
  }
  .profile .investments .block .company-link {
    padding: 0 15px;
  }
  .profile .investments .block .col {
    padding-left: 35px;
    width: 100%;
    flex: 0 0 100%;
    border-top: 2px solid #F4F4F4;
    padding: 15px;
  }
}

@media (max-width: 767.98px) {
  h2 {
    font-size: 46px;
    line-height: 53px;
  }
  .bg-light {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .bg-light .navbar-toggler {
    width: 35px;
    height: 35px;
    background: #F4F4F4;
    border-radius: 50%;
    border: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 7px 0;
    box-shadow: none !important;
  }
  .bg-light .navbar-toggler span {
    width: 22px;
    height: 2px;
    background: #000000;
    display: block;
  }
  .bg-light .navbar-toggler span:first-child {
    transform: translate(0px, 5px) rotate(-45deg) scalex(1);
  }
  .bg-light .navbar-toggler span:nth-child(2) {
    width: 0;
  }
  .bg-light .navbar-toggler span:last-child {
    width: 22px;
    transform: translate(0px, -6px) rotate(45deg) scalex(1);
  }
  .bg-light .navbar-toggler.collapsed span:first-child {
    transform: translate(0px, 0px) rotate(0deg) scalex(1);
  }
  .bg-light .navbar-toggler.collapsed span:nth-child(2) {
    width: 18px;
  }
  .bg-light .navbar-toggler.collapsed span:last-child {
    width: 15px;
    transform: translate(0px, 0px) rotate(0deg) scalex(1);
  }
  .bg-light .navbar-toggler:hover {
    background: #114FF5;
  }
  .bg-light .navbar-toggler:hover span {
    background: #fff;
  }
  .bg-light .upper:not(.collapsed)::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  .bg-light .navbar-collapse {
    background: #fff;
    position: fixed;
    right: 0;
    height: 100%;
    top: 0;
    width: 300px;
    padding: 40px 24px 70px 24px;
    z-index: 10;
  }
  .bg-light .navbar-collapse .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.06em;
    font-family: 'Work Sans', sans-serif;
    color: #000;
  }
  .bg-light .navbar-collapse.show .social-nav {
    position: fixed;
    bottom: 40px;
    width: 250px;
  }
  .bg-light .navbar-nav {
    margin-top: 50px;
  }
  .bg-light .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.06em;
    color: rgba(0, 0, 0, 0.32);
    padding: 12px;
  }
  .bg-light .contact-links {
    margin-top: 45px;
  }
  .investors {
    padding-top: 25px;
    padding-bottom: 110px;
  }
  .investors-list .investor .list-body {
    padding-left: 0;
  }
  .investors-list .investor .btn-outline-secondary {
    padding: 6px 20px 6px 24px;
    opacity: 1;
    visibility: visible;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin-top: 16px;
  }
  .investors-list .investor .list-body .col-12 {
    margin-bottom: 24px;
  }
  .investors-list .investor {
    margin-bottom: 16px;
  }
  .investors-list .investor .list-head {
    margin-bottom: 32px;
  }
  .investors-hero {
    padding-top: 24px;
    margin-bottom: 54px;
  }
  .investors-hero .hero-inner {
    padding: 17px 0;
  }
  .join-features .container-fluid {
    margin-top: 0;
    padding-top: 0;
  }
  .join-features .container-fluid.bg-blue2 {
    padding-top: 24px;
  }
  .join-features .container-fluid.bg-blue2 .inner-container p {
    color: rgba(255, 255, 255, 0.86) !important;
  }
  .join-features .col-md-auto {
    max-width: 100%;
  }
  .join-features .inner-container .row {
    margin: 0;
  }
  .join-features .inner-container .row .col-md {
    display: none;
  }
  .join-features .inner-container .feature-box {
    margin-top: 32px;
  }
  .join-features .inner-container .feature-box h4 {
    font-weight: 600;
  }
  .join-features .inner-container .feature-box p {
    color: rgba(0, 0, 0, 0.86);
  }
  .profile .profile-content .col-md {
    padding: 24px;
  }
  .profile .profile-content .row .col-md-auto {
    width: 220px;
  }
  .profile .investments .details-title {
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
  .profile .investments .details-title span {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 48px;
    line-height: 57px;
  }
  h3,
  h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
  }
  .font-20 {
    font-size: 16px;
  }
  .investors-search {
    margin-top: 32px;
  }
  .investors-list .investor {
    padding: 18px;
  }
  footer .contact-us {
    margin-bottom: 13px;
  }
  footer .contact-links {
    margin-top: 23px;
    margin-bottom: 13px;
  }
  .investors-search .form-control {
    margin-bottom: 0;
  }
  .investors-search .col-6,
  .investors-search .col-12 {
    margin-bottom: 0;
  }
  .investors-search .form-control.search-input {
    max-width: 295px;
  }
  .investors-search .row:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  .investors-search .row:last-child {
    margin: 0 -12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 16px;
  }
  .investors-search .row:last-child .col-6 {
    padding-right: 12px;
    padding-left: 12px;
  }
  .investors-search .row:last-child .col-6:first-child {
    padding-right: 6px;
  }
  .investors-search .row:last-child .col-6:last-child {
    padding-left: 6px;
  }
  .investors-search .form-control.form-select {
    padding-right: 30px;
    background-size: 12px 6px;
  }
  .investor-form {
    padding-top: 24px;
    padding-bottom: 30px;
  }
  .investor-form h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    max-width: 268px;
    text-align: left;
    margin: 0;
  }
  .investor-form .progress {
    width: 100%;
    max-width: 343px;
    margin: 16px 0 48px 0;
  }
  .investor-form #q-box__buttons {
    bottom: -120px;
  }
  .investor-form .form-field {
    margin-top: 65px;
    background: transparent;
    padding: 0 0 0 0;
    margin-bottom: 130px;
    min-height: auto;
    height: auto;
    max-height: 100%;
    touch-action: auto !important;
  }
  .investor-form .form-field .form-control {
    height: 48px;
  }
  .investor-form .form-field .form-control.no-border {
    border-color: rgba(0, 0, 0, 0.12);
  }
  .investor-form .form-field textarea.form-control {
    height: 81px;
  }
  .investor-form .form-field .pb-3.text-center {
    text-align: left !important;
    padding-top: 20px;
  }
  .investor-form .form-field .upload-img {
    width: 54px;
    height: 54px;
    display: inline-flex;
    margin-right: 12px;
  }
  .investor-form .form-field .form-icon {
    margin-top: -32px;
  }
  .investor-form .comany-step .form-field {
    padding: 16px;
    background-color: #f8f8f8;
    margin-bottom: 170px;
    min-height: 450px;
  }
  .investor-form #success h4 {
    font-weight: 600;
    font-size: 31px;
    line-height: 37px;
  }
  .investor-form .company .company-logo {
    margin-bottom: 35px;
  }
  .investor-form .comany-step .form-label {
    margin: 75px auto;
  }
  .investors-hero .hero-inner p {
    font-size: 14px;
    line-height: 22px;
  }
  .partner-companies .title {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
  }
  .partner-companies .row .col-4 a img {
    margin-bottom: 20px;
  }
  .faq {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .investors-hero .hero-inner h2 {
    font-size: 34px;
    line-height: 40px;
  }
  .join-features .inner-container p {
    font-size: 14px;
    line-height: 22px;
  }
  .profile .profile-content {
    background: transparent;
    box-shadow: none;
  }
  .profile .profile-content .row .col-12 {
    background: #FFFFFF;
    box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
    border-radius: 20px;
    margin-bottom: 16px;
    width: 100% !important;
    border: 0;
  }
  .profile .profile-content .row .col-md-auto {
    text-align: center;
  }
  .profile .profile-content .investor-img {
    width: 87px;
    height: 87px;
    margin-bottom: 16px;
  }
  .profile .profile-content .investor-name {
    font-size: 24px;
  }
  .profile .profile-content .investor-links li {
    margin-bottom: 22px;
    display: inline-block;
    margin: 0 12px 0px 12px;
  }
  .profile .profile-content .investor-links li:first-child {
    margin-left: 0;
  }
  .profile .profile-content .investor-links li:last-child {
    margin-right: 0;
  }
  .profile .profile-content .investor-links li a {
    font-size: 13px;
  }
  .profile .profile-content .investor-links li a i {
    width: auto;
    margin-right: 6px;
  }
  .profile .investments .block .company-img img {
    width: 80px;
  }
  .profile .investments .block .company-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 110px);
    text-align: right;
  }
  .profile .investments .block .company-detail span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .profile .investments .block .company-detail span:first-child {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .profile .investments .block h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 16px;
  }
  .home-body .select2-container--default .select2-results__option .select2-results__option,
  .home-body .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
  .home-body .select2-container--default .select2-results__option--selected,
  .home-body .select2-results__option--selectable {
    font-size: 14px;
  }
  .home-body .select2-results__option:before {
    height: 16px;
    width: 16px;
  }
  .select2-container--default .select2-results__option .select2-results__option {
    padding: 6px 6px;
  }
  .hidden-xs {
    display: none !important;
  }
  #add-company .modal-dialog {
    padding: 0;
    margin: 0;
    margin-top: 130px;
  }
  #add-company .modal-dialog .modal-content .btn-close {
    width: 73px;
    height: 4px;
    left: calc(50% - 36px);
    background: #C6C6C6;
    border-radius: 0;
    padding: 0;
  }
  #add-company .modal-dialog .modal-content .add-company h4 {
    text-align: left;
  }
  .form-field .form-control {
    height: 48px;
  }
}

@media (max-width: 400px) {
  .profile .details-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 16px !important;
  }
  /* .select2-container.select2-container--open {
        left: 15px !important;
    }
    .select2-container--open .select2-dropdown--below {
        width: calc(100% - 30px) !important
    }*/
  .select2-container--open .select2-dropdown--below {
    padding: 14px 6px;
  }
  .home-body .select2-container--default .select2-results__option .select2-results__option,
  .home-body .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
  .home-body .select2-container--default .select2-results__option--selected,
  .home-body .select2-results__option--selectable {
    font-size: 12px;
  }
  .profile .profile-content .investor-links li {
    margin: 0 6px;
  }
  .profile .profile-content .investor-links li a i {
    font-size: 18px;
    width: auto;
  }
}

@media (max-width: 350px) {
  .profile .investments .details-title {
    font-size: 15px;
  }
  .profile .investments .details-title span {
    font-size: 12px;
  }
  .investor-form .company {
    padding: 16px;
  }
}
/*# sourceMappingURL=style.css.map */