body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    transition: all 0.3s ease;
    &.bg-gray {
        background: #F4F4F4;
    }
}

.container {
    max-width: 1030px
}

.container-fluid {
    max-width: 1330px;
}

a {
    transition: color 0.3s ease;
    text-decoration: none !important;
}

h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: -0.06em;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: -0.06em;
}

h3 {
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.06em;
}

.text {
    &-gray {
        color: rgba($dark, .6);
    }
    &-blue {
        color: $blue
    }
}

.bg-blue2 {
    background: $blue2;
}

.font {
    &-20 {
        font-size: 20px;
        line-height: 28px;
    }
}

.btn {
    &-white {
        padding: 13px 20px;
        color: $blue2;
        background: #fff;
        border-radius: 30px;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
    }
    img {
        margin-right: 5px;
    }
}

.tag-title {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: rgba($dark, 0.35);
    margin-bottom: 10px;
}

.small-tag {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background: $bg;
    font-size: 12px;
    line-height: 14px;
    color: $dark;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    transition: all 0.3s ease;
}

.contact-links {
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.06em;
    color: $dark;
    a {
        color: $dark;
        margin-left: 24px;
        transition: all 0.3s ease;
        i {
            font-size: 25px;
        }
        &:hover {
            color: $blue
        }
    }
}


/*** select 2 div styles ****/

.select2-container {
    width: 100% !important;
}

.select2-container--open .select2-dropdown--below {
    background: #FFFFFF;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
    border-radius: 12px;
    margin-top: 5px;
    padding: 24px 16px
}

.select2-container--default .select2-selection--multiple {
    border-radius: 12px;
    min-height: 40px;
    background: #fff;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    padding: 6px 16px 0 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none !important;
    outline: none !important;
    transition: all 0.3s ease;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: $blue;
    border-radius: 12px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: #F4F4F4;
    border-radius: 24px;
    border-color: #f4f4f4;
    margin: 0;
    font-size: 13px;
    line-height: 15px;
    color: #000;
    margin-right: 5px;
    position: relative;
    padding: 5.5px 10px;
    overflow: initial;
    margin-bottom: 6px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    position: absolute;
    right: -4px;
    border: 0;
    left: auto;
    background: #114FF5;
    color: #fff;
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -4px;
    z-index: 99;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 0;
    padding-right: 0;
}