/*** media query styles ****/

@media(max-width:991.98px) {
    .bg-light .navbar-nav .nav-link {
        padding: 0 20px;
    }
    .investors-hero .hero-inner .btn {
        width: 100%;
        max-width: 320px;
    }
    .join-features .btn {
        font-size: 14px;
    }
    .profile .investments .block {
        justify-content: space-between;
    }
    .profile .investments .block .company-img {
        width: auto;
        padding: 15px 15px;
        text-align: center;
    }
    .profile .investments .block::before {
        display: none
    }
    .profile .investments .block .company-link {
        order: initial;
    }
    .profile .investments .block .company-link {
        padding: 0 15px
    }
    .profile .investments .block .col {
        padding-left: 35px;
        width: 100%;
        flex: 0 0 100%;
        border-top: 2px solid #F4F4F4;
        padding: 15px
    }
}

@media(max-width:767.98px) {
    h2 {
        font-size: 46px;
        line-height: 53px;
    }
    .bg-light {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        .navbar-toggler {
            width: 35px;
            height: 35px;
            background: #F4F4F4;
            border-radius: 50%;
            border: 0;
            padding: 0;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            padding: 7px 0;
            box-shadow: none !important;
            span {
                width: 22px;
                height: 2px;
                background: #000000;
                display: block;
                &:first-child {
                    transform: translate(0px, 5px) rotate( -45deg) scalex(1);
                }
                &:nth-child(2) {
                    width: 0;
                }
                &:last-child {
                    width: 22px;
                    transform: translate(0px, -6px) rotate( 45deg) scalex(1);
                }
            }
            &.collapsed {
                span {
                    &:first-child {
                        transform: translate(0px, 0px) rotate( 0deg) scalex(1);
                    }
                    &:nth-child(2) {
                        width: 18px;
                    }
                    &:last-child {
                        width: 15px;
                        transform: translate(0px, 0px) rotate(0deg) scalex(1);
                    }
                }
            }
            &:hover {
                background: $blue;
                span {
                    background: #fff;
                }
            }
        }
        .upper:not(.collapsed)::after {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            background: rgba(0, 0, 0, 0.5);
            z-index: 9;
        }
        .navbar-collapse {
            background: #fff;
            position: fixed;
            right: 0;
            height: 100%;
            top: 0;
            width: 300px;
            padding: 40px 24px 70px 24px;
            z-index: 10;
            .head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 42px;
                text-align: center;
                letter-spacing: -0.06em;
                font-family: 'Work Sans', sans-serif;
                color: #000;
            }
            &.show {
                .social-nav {
                    position: fixed;
                    bottom: 40px;
                    width: 250px;
                }
            }
        }
        .navbar-nav {
            margin-top: 50px;
            .nav-link {
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -0.06em;
                color: rgba(0, 0, 0, 0.32);
                padding: 12px;
            }
        }
        .contact-links {
            margin-top: 45px;
        }
    }
    .investors {
        padding-top: 25px;
        padding-bottom: 110px;
    }
    .investors-list .investor .list-body {
        padding-left: 0;
    }
    .investors-list .investor .btn-outline-secondary {
        padding: 6px 20px 6px 24px;
        opacity: 1;
        visibility: visible;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        margin-top: 16px;
    }
    .investors-list .investor .list-body .col-12 {
        margin-bottom: 24px;
    }
    .investors-list .investor {
        margin-bottom: 16px;
    }
    .investors-list .investor .list-head {
        margin-bottom: 32px;
    }
    .investors-hero {
        padding-top: 24px;
        margin-bottom: 54px;
        .hero-inner {
            padding: 17px 0;
        }
    }
    .join-features {
        .container-fluid {
            margin-top: 0;
            padding-top: 0;
            &.bg-blue2 {
                padding-top: 24px;
                .inner-container p {
                    color: rgba(255, 255, 255, 0.86) !important;
                }
            }
        }
        .col-md-auto {
            max-width: 100%;
        }
        .inner-container {
            .row {
                margin: 0;
                .col-md {
                    display: none;
                }
            }
            .feature-box {
                margin-top: 32px;
                h4 {
                    font-weight: 600;
                }
                p {
                    color: rgba(0, 0, 0, 0.86);
                }
            }
        }
    }
    .profile .profile-content .col-md {
        padding: 24px
    }
    .profile .profile-content .row .col-md-auto {
        width: 220px;
    }
    .profile .investments .details-title {
        margin-bottom: 22px;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        span {
            font-size: 14px;
        }
    }
}

@media(max-width:575.98px) {
    h1 {
        font-size: 48px;
        line-height: 57px;
    }
    h3,
    h2 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
    }
    .font-20 {
        font-size: 16px;
    }
    .investors-search {
        margin-top: 32px;
    }
    .investors-list .investor {
        padding: 18px
    }
    footer .contact-us {
        margin-bottom: 13px;
    }
    footer .contact-links {
        margin-top: 23px;
        margin-bottom: 13px;
    }
    .investors-search .form-control {
        margin-bottom: 0;
    }
    .investors-search .col-6,
    .investors-search .col-12 {
        margin-bottom: 0;
    }
    .investors-search .form-control.search-input {
        max-width: 295px
    }
    .investors-search .row:first-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 16px;
        margin-bottom: 16px;
    }
    .investors-search .row:last-child {
        margin: 0 -12px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 16px;
        .col-6 {
            padding-right: 12px;
            padding-left: 12px;
            &:first-child {
                padding-right: 6px;
            }
            &:last-child {
                padding-left: 6px;
            }
        }
    }
    .investors-search .form-control.form-select {
        padding-right: 30px;
        background-size: 12px 6px;
    }
    .investor-form {
        padding-top: 24px;
        padding-bottom: 30px;
        h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            max-width: 268px;
            text-align: left;
            margin: 0;
        }
        .progress {
            top: 72px;
            left: 15px;
        }
        #q-box__buttons {
            bottom: -120px
        }
        .form-field {
            margin-top: 65px;
            background: transparent;
            padding: 0 0 0 0;
            margin-bottom: 130px;
            min-height: auto;
            height: auto;
            max-height: 100%;
            touch-action: auto !important;
            .form-control {
                height: 48px;
                &.no-border {
                    border-color: rgba(0, 0, 0, 0.12)
                }
            }
            textarea.form-control {
                height: 81px;
            }
            .pb-3.text-center {
                text-align: left !important;
                padding-top: 20px;
            }
            .upload-img {
                width: 54px;
                height: 54px;
                display: inline-flex;
                margin-right: 12px;
            }
            .form-icon {
                margin-top: -32px;
            }
        }
        .comany-step .form-field {
            padding: 16px;
            background-color: #f8f8f8;
            margin-bottom: 170px;
            min-height: 450px;
        }
        #success h4 {
            font-weight: 600;
            font-size: 31px;
            line-height: 37px;
        }
        .company .company-logo {
            margin-bottom: 35px;
        }
        .comany-step .form-label {
            margin: 75px auto;
        }
    }
    .investors-hero {
        .hero-inner p {
            font-size: 14px;
            line-height: 22px;
        }
    }
    .partner-companies {
        .title {
            font-weight: 600;
            font-size: 18px;
            text-align: center;
        }
        .row .col-4 a img {
            margin-bottom: 20px;
        }
    }
    .faq {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .investors-hero .hero-inner h2 {
        font-size: 34px;
        line-height: 40px;
    }
    .join-features .inner-container p {
        font-size: 14px;
        line-height: 22px;
    }
    .profile {
        .profile-content {
            background: transparent;
            box-shadow: none;
            .row {
                .col-12 {
                    background: #FFFFFF;
                    box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, .12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
                    border-radius: 20px;
                    margin-bottom: 16px;
                    width: 100% !important;
                    border: 0
                }
                .col-md-auto {
                    text-align: center
                }
            }
            .investor-img {
                width: 87px;
                height: 87px;
                margin-bottom: 16px;
            }
            .investor-name {
                font-size: 24px;
            }
            .investor-links li {
                margin-bottom: 22px;
                display: inline-block;
                margin: 0 12px 0px 12px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    font-size: 13px;
                    i {
                        width: auto;
                        margin-right: 6px;
                    }
                }
            }
        }
    }
    .profile .investments .block .company-img img {
        width: 80px
    }
    .profile .investments .block .company-link {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 110px);
        text-align: right;
    }
    .profile .investments .block .company-detail span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:first-child {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
    .profile .investments .block h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 16px;
    }
    .home-body .select2-container--default .select2-results__option .select2-results__option,
    .home-body .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
    .home-body .select2-container--default .select2-results__option--selected,
    .home-body .select2-results__option--selectable {
        font-size: 14px;
    }
    .home-body .select2-results__option:before {
        height: 16px;
        width: 16px;
    }
    .select2-container--default .select2-results__option .select2-results__option {
        padding: 6px 6px;
    }
    .hidden-xs {
        display: none !important;
    }
    #add-company .modal-dialog {
        padding: 0;
        margin: 0;
        margin-top: 130px;
        .modal-content {
            .btn-close {
                width: 73px;
                height: 4px;
                left: calc(50% - 36px);
                background: #C6C6C6;
                border-radius: 0;
                padding: 0;
            }
            .add-company h4 {
                text-align: left;
            }
        }
    }
    .form-field .form-control {
        height: 48px;
    }
}

@media(max-width:400px) {
    .profile .details-title {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 16px !important;
    }
    /* .select2-container.select2-container--open {
        left: 15px !important;
    }
    .select2-container--open .select2-dropdown--below {
        width: calc(100% - 30px) !important
    }*/
    .select2-container--open .select2-dropdown--below {
        padding: 14px 6px;
    }
    .home-body .select2-container--default .select2-results__option .select2-results__option,
    .home-body .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
    .home-body .select2-container--default .select2-results__option--selected,
    .home-body .select2-results__option--selectable {
        font-size: 12px;
    }
    .profile .profile-content .investor-links li {
        margin: 0 6px;
        a i {
            font-size: 18px;
            width: auto;
        }
    }
}

@media (max-width:350px) {
    .profile .investments .details-title {
        font-size: 15px;
        span {
            font-size: 12px;
        }
    }
    .investor-form .company {
        padding: 16px
    }
}